.sidebar {
    width:229px;
    float:left;
    height:auto;
    position: relative;
  }
  
  .copyright {
    clear:both;
    text-align:center;
    color:#fff;
    text-shadow:0 1px 0 #797979;
    line-height:24px;
    font-size:12px;
    margin:0;
    letter-spacing:0.001em;
    font-family: 'Conv_Muli-Regular';
  }
  