/*------------------------- Body ------------------------*/
.body {
    float:left;
    width:728px;
    position: relative;
    background:url(../images/bg-body.png) repeat-y #e3e3e3;
    min-height:1394px;
    height:auto;
    padding: 0 0 25px;
    border-color: #dfdfdf;
    border-style: none none none solid;
    border-width: 1px;
}
.main-page {
    margin:23px 0 0 21px;
    background:#fff;
    -moz-box-shadow: 0 0 5px 3px #d3d3d3;
    -webkit-box-shadow: 0 0 5px 3px#d3d3d3;
    box-shadow: 0 0 5px 3px #d3d3d3;
    overflow:hidden;
}
.body div h2 {
    color: #919191;
    font-family:Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
    font-size: 22px;
    font-weight: normal;
    line-height: 30px;
    text-decoration: none;
    text-transform: uppercase;
    color: #7d7d7d;
    padding:36px 0 0 22px;
    margin:0;
}
.body div p {
    font-family: 'Conv_Muli-Italic';
    font-size:16px;
    line-height:24px;
    color:#808080;
    padding:0 0 0 22px;
    margin: 23px 0 30px;
}
.body div p a {
    color:#808080;
}
.body div p a:hover {
    color:#484848;
}
/* */
.main-page-content {
    background:none;
    box-shadow:none;
    margin: 0 21px;
}
.main-page-content h3 {
    background:url(../images/border.jpg) repeat-x right center;
    margin:20px 0 24px;
}
.main-page-content h3 span {
    font-family: 'Conv_Muli-Regular';
    font-size:18px;
    color:#7d7d7d;
    font-weight:normal;
    display:block;
    background-color:#fff;
    width: 140px;
}
.main-page-content p {
    padding:0;
}
